* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Chelsea Market', cursive;

}

div#main{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

div.box {
    height: 200px;
    width: 200px;
    border: 1px solid #999;
}

header {
    text-align: center;
}

div .box .images {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: none;
}

img {
    width: 150px;
    height: 150px;
}

#newGame {
    cursor: pointer;
}